#ignore build directory
build/*

#ignore temps
*~.nib
*.swp

#ignore XCode user specific
xcuserdata/
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.moved-aside

#ignore OS X folder attributes file
*.DS_Store

#ignore temp files created by localize script
*.old

#ignore generated Doxygen docs
DoxygenDocs/*

#ignore compiled SCSS
*.scssc

#ignore xccheckout, as it changes with each commit
*.xccheckout

#ignore pods
Pods/